<%- include('../partials/header') %>

<h1>New Note</h1>

<form
  action="/posts"
  method='POST'
>
  <div>
    <label for="username">Username</label> <br/>
    <input type="text" name="username" value="">
  </div>

  <div>
    <label for="title">Title</label> <br/>
    <input type="text" name="title" value="">
  </div>

  <div>
    <textarea
      rows='5'
      name='notes'
      placeholder="Describe here your notes"
    ></textarea>
  </div>
  <input
    type='submit'
    value='Submit'
  />
</form>

<%- include('../partials/footer') %>
